# Build settings
title: "Keith's Portfolio"
subtitle: "Portfolio for CPSC 120"
name: "Keith Bui"
markdown: GFM
plugins: 
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin: "dark"

author:
  name: "Keith Bui"
  bio: "I'm a first year computer science student, looking for opportunities to grow."
  location: "Garden Grove, California"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/tzunni"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/keithqbui/"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/tzunni"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/keithqbui/"

atom_feed:
  hide: true